<div class="flex-wrapper">
  <div class="container">
    <h1>Encontre outros Exchangers </h1>
    <p>Aqui aparece uma lista de possíveis matches para viajar na mesma data e projeto.</p>

    <div class="container mt-2 px-0">
      <%= link_to 'Voltar', dashboard_path, class: "btn btn-primary" %>
    </div>
    <ul>
      <% @trips.each do |trip| %>
        <li style="list-style: none">
          <div class="card-search m-5 p-2" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path trip.user.photo.key %>')">
            <h2><%= trip.user.first_name %>, <%= trip.user.age %></h2>
            <span class="date">
              <i class="fa-solid fa-calendar-days"></i><%= trip.date.strftime("%B") %>, <%= trip.date.year %>
            </span>
            <span class="destino">
              <i class="fa-solid fa-map-location-dot"></i><%= trip.project.name %> - <%= trip.project.country %>
            </span>
            <%= link_to raw('<i class="fas fa-thumbs-up"></i>'), trip_matches_path(trip), method: :post, class: "btn-match btn-primary" %>
            <%= link_to raw('<i class="fa-solid fa-user"></i>'), user_path(trip.user), class: "btn-profile btn-primary" %>

          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
