<div class="container">
  <h1>Trips Index</h1>
  <ul>
    <% @trips.each do |trip| %>
      <li style="list-style: none">
        <div class="card m-2 p-2">
         <h2><%= trip.project.name %></h2>
          <h3><%= trip.project.country %></h3>
          <p>Data: <%= trip.date.year %> <%=trip.date.month %></p>
          <p>Usuário: <%= trip.user.first_name  %></p>

          <%= link_to "Dar Match", matches_path, class: "btn btn-primary" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>


<%# && trip.project.name == current_user. bla bla && trip.project.date == current_user %>
