<div class="container">
  <h1>Encontre outros Exchangers </h1>
  <p>Aqui aparece uma lista de possíveis matches para viajar na mesma data e projeto.</p>

   <div class="container mt-2 px-0">
    <%= link_to 'Voltar', dashboard_path, class: "btn btn-primary" %>
  </div>
  <ul>
    <% @trips.each do |trip| %>
      <li style="list-style: none">
        <div class="card m-2 p-2">
         <h2><%= trip.project.name %></h2>
          <h3><%= trip.project.country %></h3>
          <p>Data: <%= trip.date.year %> <%=trip.date.month %></p>
          <p>Usuário: <%= trip.user.first_name  %></p>

          <%= link_to "Dar Match", trip_matches_path(trip), method: :post, class: "btn btn-primary" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>


<%# && trip.project.name == current_user. bla bla && trip.project.date == current_user %>
