<div class="container">
<h1> Crie uma Trip </h1>
<p>Aqui cria uma trip para servir de base para que outros Exchangers o encontrem na busca</p>

  <%= simple_form_for [ @trip ] do |f| %>
   <%= f.input :project_id, collection: @projects, include_blank: false %>
   <%= f.input :date, start_year: Date.today.year,
                end_year: Date.today.year + 5, discard_day: true,
                order: [:month, :year] %>
    <% if current_user.trips.length < 10 %>
      <%= f.submit id: "sa-create-trip", class: 'btn btn-success' %>
    <% else %>
      <%= f.submit id: "sa-create-trip", class: 'btn btn-danger mb-1' %>
      <p class="text-danger"> Você chegou ao limite de 10 trips cadastradas. Apague outras para gerar mais.</p>
    <% end %>
  <% end %>
  <div class="container mt-2 p-0">
    <%= link_to "Voltar", dashboard_path, class: "btn btn-primary" %>
  </div>
</div>
