
<div id="message-<%= message.id %>"class="message user-<%= message.user.id %>">
  <div class="message-content d-flex">
    <%= image_tag url_for(message.user.photo), class: "photo-chat" %>
    <div>
      <small>
        <strong><%= message.user.first_name %></strong>
        <i><%= l message.created_at, format: "%a  %e %b às %k:%M" %></i>
      </small>
      <p><%= message.content %></p>
    </div>
  </div>
</div>
