<div class="d-flex flex-column align-items-center justify-content-center w-100 p-3 banner-forms">
  <div class="cardbox cardbox-login">

    <h2 class="text-center">Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

        <%= f.input :first_name,
                    required: true,
                    input_html: { autocomplete: "first_name" } %>
        <%= f.input :last_name,
                    required: true,
                    input_html: { autocomplete: "last_name" } %>
        <%= f.input :date_of_birth, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :photo, as: :file %>

      </div>

      <div class="d-flex justify-content-between">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
        <%= link_to "Voltar", root_path, class: "btn btn-primary" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
