<div class="d-flex flex-column align-items-center justify-content-center w-100 p-3 banner-forms">
  <div class="cardbox cardbox-login text-align-center">
    <h2>Esqueceu sua senha?</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, label: "Email:",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="d-flex justify-content-between">
        <%= f.button :submit, "Enviar", class: "btn-form" %>
        <%= link_to "Voltar", root_path %>
      </div>
    <% end %>

</div>
</div>
