<div class="flex-wrapper">
  <div class="container mb-5">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="card-profile-holder m-2">
          <div class="card-image" style="background-image: url(<%= cl_image_path current_user.photo.key, height: 300, crop: :fill %>)">
          </div>
          <div class="p-4">
            <h2 class="mb-3"><strong><%= current_user.name %></strong>, <%= current_user.age %> </h2>
            <p><i class="fa-solid fa-pen-to-square me-2"></i><%= link_to "Editar", edit_user_registration_path, class: "btn-dash-small"  %></p>
            <p><i class="fas fa-briefcase me-2"></i><strong>Profissão:</strong> <%= current_user.occupation %></p>
            <p><i class="fas fa-map-marker-alt me-2"></i><strong>Cidade: </strong><%= current_user.city %></p>
            <p><i class="fas fa-plane-departure me-2"></i><strong>Destinos: </strong><%= @countries.join(", ") %></p>
            <hr>
            <p class="m-0"><strong>Sobre: </strong></p>
            <p><%= current_user.about %></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="card-profile m-2 p-2">
          <div class="my-2">
            <%= link_to "Criar Trip", "#", data: {toggle: "modal", backdrop: false, target: "#tripModal"}, class: "btn-dash" %>
            <%= link_to "Minhas matches", matches_path, class: "btn-dash" %>
          </div>
          <div class="cards">
            <%  @trips.each do |trip| %>
              <div class="card-project p-2">
                <small class="card-tag"><strong><%= trip.project.country %></strong></small>
                <div>
                  <h2><%= trip.project.name  %></h2>
                  <p><%= trip.date  %></p>
                  <%= link_to 'Delete', trip_path(trip) , class: "btn-edit mt-2 mb-3", method: :delete, data: { confirm: "Are you sure?" } %>
                </div>
              </div>
            <% end  %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card-profile d-flex justify-content-center m-2 p-2">
          <%= link_to "Buscar match", trips_path, class: "btn-dash" %>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-links">
      <a href="https://www.instagram.com/exchangedobem/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCzstn0qkbt9WLIzaIr-7OZQ"><i class="fab fa-youtube"></i></a>
      <a href="https://t.me/exchangedobem"><i class="fa-brands fa-telegram"></i></a>

    </div>
    <div class="footer-links">
    <p class="m-0 text-white"> <strong>Powered by VolunTripr</strong> </p><a href=""> <i class="fa-solid fa-heart"></i></a>
    </div>
    <div class="footer-links">
      <p class="m-0 text-white"> <strong>Suporte:</strong> </p><a href=""><i class="fa-brands fa-whatsapp"></i></a>
    </div>
  </div>
</div>


<%# Modal Criar Trip %>
<div class="modal fade" id="tripModal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body"> <%= render 'trips/new' %></div>
      </div>
  </div>
</div>


<%# Modal Suas Matches %>
<div class="modal fade" id="tripModal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-body"> <%= render 'trips/new' %></div>
      </div>
  </div>
</div>
