<div class="container">
  <h1>Suas Matches</h1>

  Aqui você visualiza quem deu match em você e em quem você deu match.
  <div class="container mt-4 p-0">
    <ul class="p-0">
      <% @matches.each do |match| %>
      <li style="list-style: none">
        <div class="card mt-4 p-3">
          <h2>Match com: <%= match.trip1.user.first_name %></h2>
          <p>Para: <%= match.trip1.project.name %></p>
          <p>Em: <%= match.trip1.date %></p>

          <%= link_to "Conversar", match_path(match), class: "btn btn-primary" %>        
          <%= link_to 'Delete', match_path(match), class: "btn btn-primary mt-2", method: :delete, data: { confirm: "Are you sure?" } %>

        </div>
      <% end  %>
      </li>
    </ul>
  </div>
</div>
