<div class="flex-wrapper">
  <div class="container my-5">
    <h1>Suas Matches</h1>
    <div class="container p-0">
      <%= link_to "Voltar", dashboard_path, class: "btn btn-primary" %>
    </div>
    <div class="container mt-4 p-0">
      <ul class="p-0">
        <% @matches.each do |match| %>
        <li style="list-style: none">
          <div class="card mt-4 p-3">
            <% if current_user == match.trip1.user %>
              <h2>Match com: <%= match.trip2.user.first_name %></h2>
              <div class="container p-0">
                <%= cl_image_tag (current_user.photo.key), class: "photo-chat" %>
                <i class="fa-solid fa-plane-departure"></i>
                <%= image_tag url_for(match.trip2.user.photo), class: "photo-chat" %>
              </div>
              <p>Para: <%= match.trip1.project.name %></p>
              <p>Em: <%= match.trip1.date %></p>
            <% else %>
              <h2>Match com: <%= match.trip1.user.first_name %></h2>
              <div class="container p-0">
                <%= image_tag url_for(current_user.photo), class: "photo-chat" %>
                <i class="fa-solid fa-plane-departure"></i>
                <%= cl_image_tag (match.trip1.user.photo.key), class: "photo-chat" %>
              </div>
              <p>Para: <%= match.trip1.project.name %></p>
              <p>Em: <%= match.trip1.date %></p>
            <% end %>
            <% if current_user == match.trip1.user %>
              <%= link_to "Ver Perfil", user_path(match.trip2.user), class: "btn btn-primary" %>
            <% else %>
              <%= link_to "Ver Perfil", user_path(match.trip1.user), class: "btn btn-primary" %>
            <% end %>
            <%= link_to "Conversar", match_path(match), class: "btn btn-primary mt-2" %>
            <%= link_to 'Delete', match_path(match), class: "btn btn-primary mt-2", method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
        <% end  %>
        </li>
      </ul>
    </div>
  </div>
</div>
