<div class="container match my-4">
  <div class="d-flex justify-content-between p-3 align-items-center">
    <h3><%= "#{@match.trip1.user.first_name} e #{@match.trip2.user.first_name}" %></h3>
    <%= link_to "Voltar", dashboard_path %>
  </div>
    <div class="messages" data-controller="match-subscription" data-match-subscription-match-id-value="<%= @match.id %>">
      <% @match.messages.each do |message| %>

        <%= render 'messages/message', message: message %>
      <% end %>
    </div>
      <%= simple_form_for [@match, @message], remote: true, html: {class: "d-flex mb-3"} do |f| %>
        <%= f.input :content, label: false, placeholder: "Digite sua mensagem", wrapper_html: {class: "flex-grow-1 h-100"}, input_html: {class: "h-100"}%>
        <%= f.button :submit, "Enviar", class: "btn-dash ms-2" %>
      <% end %>

</div>
