<!DOCTYPE html>
<html>
  <head>
    <title>Triper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/7320406189.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <style>
       <%= ".messages .message.user-#{current_user.id}"%> {
        justify-content: flex-end;
       }
       <%= ".messages .message.user-#{current_user.id} .message-content"%> {
        background-color: rgba(84, 191, 214, 0.2);
       }
    </style>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>

  </body>

</html>
